.heroGrid {
    height: 100vh;
}


.heroBoxContainer {
    background-size: 200% 100%;
    background-image: linear-gradient(to right , #4272f5 50%, #c97f4b 50%);
    -webkit-transition: background-position 1s;
    -moz-transition: background-position 1s;
    transition: background-position 1s;
}

