

.heroBoxContainer {
  background-size: 200% 500%;
  z-index: 1;
  background-image: linear-gradient(to right , #4272f5 50%, #c97f4b 50%);
  -webkit-transition: background-position 1s;
  -moz-transition: background-position 1s;
  transition: background-position 1s;
  
}


@keyframes expand {
    0% {
      transform: translateX(1400px);
    }
    100% {
      transform: translateX(0px);
    }
  }
