.mainContentDescription {
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 50px !important;
    width: 80% !important;

}

.mainContentHeader {
    font-size: 25px !important;
    padding: 50px 20px 50px 20px;

}